<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>dms</display-name>

  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  	<welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
   <servlet>
    <servlet-name>UserControllerServlet</servlet-name>
    <servlet-class>com.authentication.UserControllerServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>DashboardControllerServlet</servlet-name>
    <servlet-class>com.dashboard.DashboardControllerServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>FolderControllerServlet</servlet-name>
    <servlet-class>com.dashboard.FolderControllerServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>FileControllerServlet</servlet-name>
    <servlet-class>com.dashboard.FileControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserControllerServlet</servlet-name>
    <url-pattern>/auth/register</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UserControllerServlet</servlet-name>
    <url-pattern>/auth/login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UserControllerServlet</servlet-name>
    <url-pattern>/dashboard/update_settings</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UserControllerServlet</servlet-name>
    <url-pattern>/dashboard/deactivate</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UserControllerServlet</servlet-name>
    <url-pattern>/dashboard/password</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DashboardControllerServlet</servlet-name>
    <url-pattern>/dashboard/home</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DashboardControllerServlet</servlet-name>
    <url-pattern>/dashboard/folders</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DashboardControllerServlet</servlet-name>
    <url-pattern>/dashboard/folder</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DashboardControllerServlet</servlet-name>
    <url-pattern>/dashboard/trash</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DashboardControllerServlet</servlet-name>
    <url-pattern>/dashboard/starred</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DashboardControllerServlet</servlet-name>
    <url-pattern>/dashboard/recent</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DashboardControllerServlet</servlet-name>
    <url-pattern>/dashboard/settings</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>DashboardControllerServlet</servlet-name>
    <url-pattern>/dashboard/documents</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>DashboardControllerServlet</servlet-name>
    <url-pattern>/dashboard/videos</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DashboardControllerServlet</servlet-name>
    <url-pattern>/dashboard/audios</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>DashboardControllerServlet</servlet-name>
    <url-pattern>/dashboard/images</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>DashboardControllerServlet</servlet-name>
    <url-pattern>/dashboard/others</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>FolderControllerServlet</servlet-name>
    <url-pattern>/dashboard/route_folder</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>FileControllerServlet</servlet-name>
    <url-pattern>/dashboard/route_file</url-pattern>
  </servlet-mapping>
  
  <error-page>
        <error-code>404</error-code>
        <location>/error/error.jsp</location>
  </error-page>
    
</web-app>